/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.btn {
  transition: .75s;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Playfair Display', serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

#navhover > li {
  transition: 1s;
}

#navhover > li:hover {
  background-color: lightgray;
  transition-timing-function: linear;
  transition: .75s;
 
}

/* Cabin show page delete button */
.delete-form {
	display: inline-block;
}

/* Flexbox grid fix */
.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  #mapdiv {
    padding-bottom: 5vh; 
  }
  
}